.form {
  /* height: calc(100vh - 100px); */
  min-width: 320px;
  max-width: 396px;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 30px;
}
.form__form {
  height: 560px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form__header-section {
  text-align: left;
}
.form__logo-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.form__logo {
  cursor: pointer;
  width: 38px;
  height: 38px;
  background-image: url(../../images/logo.svg);
}
.form__logo:hover {
  opacity: 80%;
  transition: opacity 0.2s linear;
}
.form__title {
  color: white;
  text-align: left;
  font-weight: 500;
  font-size: 24px;
  line-height: 29.05px;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 40px;
}
.form__label {
  display: block;
  text-align: left;
  font-weight: 400;
  font-size: 10px;
  line-height: 12.1px;
  color: rgba(139, 139, 139, 1);
  margin-top: 20px;

}
.form__input {
  width: calc(100% - 30px);
  color: white;
  font-weight: 400;
  font-size: 13px;
  line-height: 15.73px;
  margin-top: 10px;
  padding: 15px;
  background-color: rgba(47, 47, 47, 1);
  border: none;
  border-radius: 8px;
}
.form__input:focus {
  background-color: 1px solid red;
}
.form__input_error {
  color: rgba(238, 52, 101, 1);
}

.form__error-text {
  margin-top: 10px;
  /* position: absolute; */
  display: block;
  text-align: left;
  font-weight: 400;
  font-size: 10px;
  line-height: 12.1px;
  color: rgba(238, 52, 101, 1);
}
.form_error-text_active {
  display: block;
}

.form__button {
  width: 100%;
  cursor: pointer;
  color: white;
  padding: 15px 0 15px;
  border: none;
  border-radius: 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 15.94px;
  background-color: rgba(66, 133, 244, 1);
}
.form__button:disabled, .form__button:hover:disabled{
  opacity: 100%;
  cursor: default;
  color: rgba(194, 194, 194, 1);
  background-color: rgba(248, 248, 248, 1);
}
.form__button:hover {
  opacity: 80%;
  transition: opacity 0.2s linear;
}

.form__dialog {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}
  .form__dialog-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    color: rgba(139, 139, 139, 1);
  }
  .form__dialog-button {
    margin-left: 6px;
    cursor: pointer;
    background-color: inherit;
    text-decoration: none;
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    color: rgba(66, 133, 244, 1);
  }
  .form__dialog-button:hover {
    opacity: 80%;
    transition: opacity 0.2s linear;
  }

  @media screen and (max-width: 767px) {
    .form__form {
      height: 698px;
      max-width: 260px;
      margin: 0 auto;
    }
    .form__logo-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    .form__section {
      margin: 0 auto;
      width: 260px;
      padding: 0 30px 30px;
      margin-top: 56px;
    }
    .form__title {
      text-align: center;
      margin: 50px 0 80px;
    }
    .form__button {
      font-size: 12px;
      line-height: 14.52px;
    }
    .form__dialog-text {
      font-size: 12px;
      line-height: 14.52px;
    }
    .form__dialog-button {
      font-size: 12px;
      line-height: 14.52px;
    }
  }